:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    display: block;
}

.social .social-icon{
    display: block;
}

.move-down-btn{
    display: block;
    /*maybe überflüssig - auch im html*/
}