:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

:-webkit-any(article, aside, nav, section) h1 {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

header, main, footer{
    width: 75vw;
    max-width: 1200px;
    background-color: #edecec;
    margin: 0 auto;
}

nav{
    display: inline-block;
    padding: 2em 0 0 4em;
}

nav a{
    color: #659D89;
    padding-right: 0.5em;
    font-weight: 300;
}

nav a:hover{
    color: #3d6e5d;
    font-weight: 400;
    cursor: pointer;
}

.hero{
    padding: 6em 4em;
    border-bottom: 1px solid #ccc;
}

h1{
    font-size: 3rem;
    font-weight: 300;
    width: 40vw;
    max-width: 570px;
    line-height: 3.2rem;
}

h1::first-line{
    color: #659D89;
}

.social{
    float: right;
    display: block;
    padding: 2em 0;
}

.social-icon:hover{
    filter: none;
    cursor: pointer;
}

.social-icon{
    width: 2em;
    height: 2em;
    filter: grayscale();
}

.si-twitter{
    background-image: url(img/twitter-512px.png);
}

.si-fb{
    background-image: url(img/fb-512px.png);
}

.si-insta{
    background-image: url(img/insta-512px.png);
}
.si-twitter, .si-fb, .si-insta{
background-size: 100%;
}

.move-down-btn{
    clear:both;
    width: 18em;
    padding: 1em 2em;
    text-align: center;
    background-color: #659D89;
    border-radius: 25px;
}

.move-down-btn:hover{
    -webkit-box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.34);
    -moz-box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.34);
    box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.34);
    cursor: pointer;
    background-color: #3d6e5d;
}

.move-down-btn a{
    color: #fff;
}

.move-down-btn a::before{
    content: "↓ ";
}

.service, .feature-wrapper{
    padding: 0 4em;
}

h2{
    font-size: 1.5rem;
    font-weight: 300;
}

hgroup{
    margin: 4em 0;
}

.service{
    border-bottom: 1px solid #ccc;
}

.service-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 6em;
}

.service-container{
    display: flex;
    flex: 1 0 30%;
    width: 17em;
    height: 12em;
}

.service-container:hover{
    -webkit-box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.34);
    -moz-box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.34);
    box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.34);
    cursor: pointer;
}

.sc-one, .sc-two, .sc-three, .sc-four, .sc-five, .sc-six{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    mix-blend-mode: multiply;
}

.sc-one{
    background-image: url(img/link1.gif.gif);
}

.sc-two{
    background-image: url(img/link2.gif.gif);
}

.sc-three{
    background-image: url(img/link3.gif.gif);
}

.sc-four{
    background-image: url(img/link4.gif.gif);
}

.sc-five{
    background-image: url(img/link5.gif.gif);
}

.sc-six{
    background-image: url(img/link6.gif.gif);
}

.feature{
    margin-bottom: 3em;
}

.feature img{
    border-radius: 10px;
    max-width: 40vw;
    margin-bottom: 2em;
}

.feature img:hover{
    -webkit-box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.80);
    -moz-box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.80);
    box-shadow: 10px 10px 33px -13px rgba(102,102,102,0.80);
    cursor: pointer;
}

figcaption, figure > p{
    text-align: center;
}

.feature-wrapper{
    display: grid;
    border-bottom: 1px solid #ccc;
}

.feature-right{
    justify-self: end;
}

.feature-left{
    justify-self: start;
}

figcaption, .feature-author{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8rem;
    color: #666;
}

.feature-title{
    font-size: 1.1rem;
}

footer{
    text-align: center;
    color: #666;
    padding: 4em 0 2em 0;
}

footer a::before{
    content: "⬆ ";
}

footer a{
    display: block;
    margin-bottom: 5em;
}

@media (max-width: 650px){

    h1{
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    .service-container{
        width: 12em;
        height: 6em;
    }

    .move-down-btn{
        width: 10em;
        padding: 0.5em 1em;
    }

}